.navigate-bar {
  width: 70px;
  background-color: #48405b;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #ddd;
}

.nav-icon {
  padding-left: 15px;
  padding-top: 15px;
}

.user-button,
.chat-button,
.available-chat-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  align-items: center;
}

.user-button img,
.chat-button img,
.available-chat-button img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}

.nav-chat-title {
  font-size: 10px;
  font-weight: 800;
  color: #999999;
  text-align: center;
}


.user-button.active img,
.chat-button.active img,
.available-chat-button.active img {
  filter: brightness(1.2);
}

.navigate-bar .user-button.active .nav-chat-title,
.navigate-bar .chat-button.active .nav-chat-title,
.navigate-bar .available-chat-button.active .nav-chat-title {
  color: #fff;
}

.navigate-bar .user-button.active .nav-icon,
.navigate-bar .chat-button.active .nav-icon,
.navigate-bar .available-chat-button.active .nav-icon {
  filter: brightness(1.7);
}
